/* .html{
    scroll-behavior: smooth;
    
} */

/* everything */
* {
   /* font-size: 1em !important;
   color: #000 !important; */
   font-family: 'Trebuchet MS', sans-serif !important;
   scroll-behavior: smooth;
   
}


body {
    margin: 0;
    padding: 0;
    
    
}  

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}
  
li {
    float: right;
}

#homeNav{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px 8px 16px;
    text-decoration: none;
    /* padding-bottom:1px; */
}

#homeIcon{
    height:80%;
    width:80%;
    margin:0;
}

/* LANDING SECTION */

.landingSection{

    /* height of page is same as viewport */
    height: 100vh;
    
    /* background image with fade */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1.0)), url('./images/landingTree.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    /* horizontally and vertically center text */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* resize: vertical;
    overflow: auto; */
    color: silver;
}
.landingSection h1{
    font-size: 70px;
}

/* ABOUT SECTION */

.aboutSection{

    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.7)), url('./images/aboutSky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.aboutSection h1{padding-bottom: 20px;}

.aboutSection h1{
    color: silver;
    margin: 0;
    text-align: center;
    padding-top: 5%;
}

.aboutSection p{
    color: silver;
    margin: 0;
    text-align: left;
    padding-top: 5%;
    padding-bottom:5%;
    margin-top:5px;
    /* letter-spacing: 3px; */
}

.aboutRow table{
    margin-left: auto;
    margin-right: auto;
    /*
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr */
    /* max-width: 60vw; */
}

.aboutRow td{   
    width: 500px;
}


/* .aboutRow p{
    float: left;
    text-align: center;
    display: inline;
} */


.aboutRow img{
    height: 300px;
    width: 300px;
    padding-left: 200px;
    /* float: right; */
    
  
}

#resumeLink{
    color:rgb(133, 124, 255);
}

#resumeLink:visited{
    color:rgb(239, 115, 255);
}

/* PROJECT SECTION */

.projectSection{
    background-color: #121212;
}

#projectTitle{
    margin: 0;
    color: silver;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.projectContainer{
    width: 80%;
    margin: auto;
}

.projectContainer p, h1{
    color: silver;
}

.projectGallery{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 2.5rem; 
}

.projImg{
    width:100%;
    height:100%;
    object-fit: cover;
    display: block;
    opacity: 0.7;
    transition: all 0.5s;
    left: 0;
    position: relative;
    z-index: 0;
}

.caption {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    
}
div[class^="proj_"]:hover .overlay {
    opacity: 1;
}

div[class^="proj_"]:hover .projImg {
    opacity: 0.1;
}

.proj_1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    position: relative;
    overflow: hidden;
}

.proj_2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
    position: relative;
    overflow: hidden;
}

.proj_3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
    position: relative;
    overflow: hidden;
}

.proj_4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
    position: relative;
    overflow: hidden;
}

.proj_5 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
    position: relative;
    overflow: hidden;
}

.proj_6 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
    position: relative;
    overflow: hidden;
}

/* HIGHLIGHTS SECTION */

.highlights{
    background-color: #121212;
}

#highlightsTitle{
    margin: 0;
    color: silver;
    text-align: center;
    padding-bottom: 1%;
}

#highlightsCaption{
    padding-bottom: 3%;
    margin: 0;
    color: silver;
    text-align: center;
}   

/* CONTACT SECTION */

.contactSection{
    /* background-color:#121212; */
    padding-top:30vh;
    height: 70vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.7)), url('./images/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#contactTitle{
    margin: 0;
    color: silver;
    text-align: center;
    padding-bottom: 1%;
}

#contactCaption{
    padding-bottom: 3%;
    margin: 0;
    color: silver;
    text-align: center;
}

.contactContainer{
    width: 40%;
    margin: auto;
}

.contactContainer p, h1{
    color: silver;
}

.contactRowGallery{
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    grid-template-rows: repeat(2, 10vw);
    grid-gap: 1.0rem; 
}

div[class^="icon_"]:hover .overlay {
    opacity: 1;
}

div[class^="icon_"]:hover .icon_Img {
    opacity: 0.1;
}


.icon_Img{
    width:100%;
    height:100%;
    object-fit: cover;
    display: block;
    opacity: 0.7;
    transition: all 0.5s;
    left: 0;
    position: relative;
    z-index: 0;
}
.icon_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    overflow: hidden;
}

.icon_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    overflow: hidden;
}

.icon_3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    overflow: hidden;
}

.icon_4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    overflow: hidden;
}

.iconCaption{
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#footer{
    color:silver;
    text-align: center;
}

/* .footerSection{
    background-color: #121212;
    
}
.footerSection p{
    margin: 0;
    color: silver;
    text-align: center;
    padding-bottom: 5%;
} */