/* .html{
    font-family: 'Trebuchet MS', sans-serif;
} */

/* everything */
* {
   /* font-size: 1em !important;
   color: #000 !important; */
   font-family: 'Trebuchet MS', sans-serif !important;
   
}


body {
    margin: 0;
    padding: 0;
    
}  

/* LANDING SECTION */

.landingSection{

    /* height of page is same as viewport */
    height: 100vh;
    
    /* background image with fade */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1.0)), url('./images/landingTree.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    /* horizontally and vertically center text */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* resize: vertical;
    overflow: auto; */
    color: silver;
}
.landingSection h1{
    font-size: 70px;
}

/* ABOUT SECTION */

.aboutSection{

    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.7)), url('./images/aboutSky.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.aboutSection h1{
    color: silver;
    margin: 0;
    text-align: center;
    padding-top: 5%;

}

/* PROJECT SECTION */

.projectSection{
    background-color: #121212;
}

#projectTitle{
    margin: 0;
    color: silver;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.projectContainer{
    width: 80%;
    margin: auto;
}

.projectContainer p, h1{
    color: silver;
}

.projects{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(13, 5vw);
    grid-gap: 2.5rem; 
}

.projImg{
    width:100%;
    height:100%;
    object-fit: cover;
    display: block;
    opacity: 0.7;
    transition: all 0.5s;
    left: 0;
    position: relative;
    z-index: 0;
}

.caption {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    
}
div[class^="proj_"]:hover .overlay {
    opacity: 1;
}

div[class^="proj_"]:hover .projImg {
    opacity: 0.1;
}

.proj_1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    position: relative;
    overflow: hidden;
}

/* .projText1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    position: relative;
    overflow: hidden;
} */

.proj_2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
    position: relative;
    overflow: hidden;
}

/* .projText2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
    position: relative;
    overflow: hidden;
} */

.proj_3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
    position: relative;
    overflow: hidden;
}
/* .projText3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 6;
    position: relative;
    overflow: hidden;
} */

.proj_4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
    position: relative;
    overflow: hidden;
}

/* .projText4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 12;
    position: relative;
    overflow: hidden;
} */

.proj_5 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
    position: relative;
    overflow: hidden;
}

/* .projText5 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 12;
    position: relative;
    overflow: hidden;
} */

.proj_6 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
    position: relative;
    overflow: hidden;
}
/* .projText6 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 9;
    grid-row-end: 12;
    position: relative;
    overflow: hidden;
} */
